.reviews {
  margin-bottom: 150px;

  @media (max-width: 980px) {
   margin-bottom: 100px;
  }

  @media (max-width: 520px) {
   margin-bottom: 0;
  }
  
  &__box {
    background-image: url(../images/reviews/reviews-decor.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 45px;
  }

  &__inner {
    @include line;
  }

  &__title-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
    margin-bottom: 130px;
    
    @media (max-width: 390px) {
     margin-bottom: 30px;
    }
  }
  
  &__title {
    width: 175px;
  }

  &__sliders {
    max-width: 654px;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    padding: 0px 55px 55px;
    position: relative;

    @media (max-width: 390px) {
     padding: 0 20px 20px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 132px;
      height: 18px;
      background-color: $accent;
      top: 210px;
      left: -75px;

      @media (max-width: 390px) {
       display: none;
      }
    }
  }

  &__top {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
  }
  
  &__top-image {
    width: 202px;
    height: 202px;
    margin: 0 auto;
    padding: 10px 0 10px;
    margin-bottom: 30px;
    
  }
  
  &__top-img {
    border: 10px solid $accent;
    width: 202px;
    height: 202px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    color: $title;
  }

  &__position {
    font-size: 16px;
    font-weight: 700;
    color: $title;
    margin-bottom: 35px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    color: #686868;
    line-height: 1.2;
  }

  .slick-arrow {
    position: absolute;
    top: 100px;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .slick-prev {
    left: 0;
    z-index: 5;
  }

  .slick-next {
    right: 0;
  }
  
  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    button {
      border: 1px solid $accent;
      font-size: 0;
      background-color: #FFF;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0;
    }

    .slick-active {

      button {
        background-color: $accent;
      }
    }
  }
}