.tradein {
  margin-bottom: 30px;

  @media (max-width: 706px) {
   margin-bottom: 0;
  }

  &__wide {
    padding-top: 40px;
    background-image: url(../images/benefits/decor.png);
    background-repeat: no-repeat;
    background-position: top left 115px;
  }

  &__inner {
    @include line-l;
  }

  &__title {
    padding-left: 25px;
    max-width: 545px;
    margin-bottom: 65px;

    @media (max-width: 560px) {
      padding-left: 0;
    }

    span {
      font-weight: 300;
    }

    @media (max-width: 860px) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  &__text-top {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;

    p {
      max-width: 540px;
    }

    @media (max-width: 860px) {
      margin-bottom: 30px;
    }
  }

  &__text-bottom {
    font-size: 24px;
    max-width: 540px;

    @media (max-width: 560px) {
      background-color: $accent;
    }

    p {
      background-color: $accent;
      display: inline-block;
      color: #fff;
      padding: 0 25px 0 13px;

      &:first-child {
        padding-top: 15px;
      }

      &:last-child {
        padding-bottom: 15px;
      }
    }
  }
}
